<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2 curvy-border animated fadeInUp">
      <form ng-controller="UploadController as up" name="up.upload_form">
        <img class="img-responsive" ng-show="!!up.file" ngf-thumbnail="up.file || '../img/male_empty_profile.png'"> <br />

        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
          ng-change="up.submit()" />
        <!-- Image thumbnail: <img style="width:100px;" ng-show="!!up.file" ngf-thumbnail="up.file || '/thumb.jpg'"/> -->
        <i ng-show="up.upload_form.file.$error.required">*required</i><br>
        <i ng-show="up.upload_form.file.$error.maxSize">File too large 
        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        <!--  Multiple files
          <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
          Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
        <!-- <button type="submit" ng-click="up.submit()" class="btn btn-primary">save changes</button> -->
        <p>{{up.progress}}</p>
      </form>
    </div>

    <div class="col-sm-9 curvy-border animated fadeInRight" style="margin-left:10px;">
      <h2>Hello {{ username }} !</h2>
      <form class="form-horizontal">
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="Enter first name" >
        </div>
      </form>
    </div>
  </div>


</div>