<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="#">Quick Chat</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" >
    <div class="col-sm-3 col-md-3" ng-show="onload()">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" style="line-height:1.45;"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="showGreeting"><p ng-bind="labelMsg" class="bg-danger"></p></div>
    <ul class="nav navbar-nav navbar-right" ng-if="onload()">
      <!-- <li><input type="text" class="form-control" placeholder="Search" name="q">
            </li> -->
      <li><a href="tel:9043897640"><i class="fa fa-phone" aria-hidden="true"></i> contact</a></li>
      <li><a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> home</a></li>
      <li><a href="/chat"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> message</a></li>
      <li><a href="/notification">            
            <span class="badge badge-notify" style="background:red;">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 3
              </span></a></li>
      <li><a href="#" ng-click="logout()">logout</a></li>
    </ul>
  </div>
</nav>