.control-label{
    color: white !important;
}
html,body {
    height:100%;
    width: 100%;
}

body {
    display: table;
}

.container {
    height: auto;
}

.footer {
    display: table-row;
    height: 10px;
}