.control-label{
    color: #3A9CDD !important;
}
html,body {
    height:100%;
    width: 100%;
    background-color: #e6ecf0;
}

body {
    display: table;
}

.container {
    height: auto;
}

.footer {
    display: table-row;
    height: 10px;
}

.curvy-border{    
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

.padding{
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: pink;
    }
}